.btn {border-radius: 0;}

.btn-add {vertical-align: top;}

.jumbotron {
    margin-top:20px;
    margin-bottom: 5px;
    border-radius: 0 !important;
    color:white;
    background-image: url("brunch-head.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

legend {border: 0;}

.textbox {
    border-radius: 0;
    margin-bottom: 10px;
}

/*#left-col {*/
    /*margin:10px;*/
     /*background-color: #F6F6F6;*/
 /*}*/

#menu h2 {
    color: #d2a91c;
}

#menu {
    background-color: #F1F1F1;
    margin-top:20px;
    margin-right:20px;
    padding-left: 70px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.form-inline {vertical-align: top;}

label {font-weight: normal;}

.dish a:hover {text-decoration: none}

.btn-group {margin-left:10px;}

#receiptTable td, #receiptTable th {
    border-top: 0;
}

#checkoutTable td, #checkoutTable th {border-top: 0;}

#form {
    margin-left: 40px;
    margin-right: 40px;
    margin-top:10px;
}

#checkoutTable {
    margin-left: 40px;
    margin-right: 40px;
}

