.btn-long {
    width: 300px;
    border-radius: 0;
}

.btn {border-radius: 0;}

.btn-add {vertical-align: top;}

.jumbotron {
    margin-top:20px;
    border-radius: 0 !important;
    color:white;
    background-image: url("brunch-head.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

legend {border: 0;}

.textbox {
    border-radius: 0;
    margin-bottom: 10px;
}

/*#left-col {*/
    /*margin:10px;*/
     /*background-color: #F6F6F6;*/
 /*}*/

#menu h2 {
    color: #d2a91c;
}

#menu {
    background-color: #F1F1F1;
    margin: 5px;
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
}

.menu-col {
    padding-right: 30px;
    padding-left: 30px;
}

.form-inline {vertical-align: top;}

label {font-weight: normal;}

.dish a:hover {text-decoration: none}

.btn-group {margin-left:10px;}

#receiptTable td, #receiptTable th {
    border-top: 0;
}

#checkoutTable td, #checkoutTable th {border-top: 0;}

